---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import TechCards from '../components/TechCards.astro';
import WorkExperience from '../components/WorkExperience.astro';
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>🧑‍🚀 Hola, vistitante!</h1>

			<div>
				<img src="coding_hero.jpg" alt="home hero">
			</div>
			<p>
				Bienvenido a mi pagina web personal, en esta te contaré todo sobre mi experiencia como
				desarrollador frontend,
				También postaré de vez en cuando sobre temas que me apasionan: la programación,
				la informatica, la tecnología, cultura popular e idiomas.
			</p>
			<p>
				En mi corto recorrido por el mundo del desarrollo web, he trabajado con varias tecnologías,
				principalmente en el frontend, pero también de backend para crear APIs restful y GraphQL.
			</p>
			<TechCards/>
			<WorkExperience/>
		</main>
		<Footer />
	</body>
</html>


<style>

	/* .tech__cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		row-gap: 2rem;
		margin: 3rem 0;
	}

	.tech__card{
		display: flex;
		justify-content: center;
	}

	.tech__card img {
		max-width: 80px;
		max-height: 80px;
	} */
</style>