<div class="contact_container">
    <a href="https://wa.me/+573008443165" class="whatsapp_container" target="_blank">
        <img src="WhatsAppButtonGreenMedium.svg" alt="whatsapp logo">
    </a>
    <a href="mailto:robert.624@outlook.com" class="outlook_container" target="_blank" target="_blank">
        <img class="outlook" src="outlook_logo.svg" alt="outlook logo">
        <span>robert.624@outlook.com</span>
    </a>
    <a href="www.linkedin.com/in/roberto-ramirez-aguilar" class="linkedin_container" target="_blank">
        <img class="linkedin" src="LinkedIn_icon.svg" alt="LinkedIn logo">
        <span>Roberto Ramirez</span>
    </a>
</div>

<style>

    .contact_container {
        margin: 5rem 0;
        display: flex;
        gap: 2rem;
    }

    a .linkedin,
    a .outlook {
        width: 28px;
    }

    .linkedin_container,
    .outlook_container {
        width: 12rem;
        padding: 0 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: #fff;
        text-decoration: none;
        font-size: 0.8rem;
        max-height: 40px;
    }

    .outlook_container {
        background-color: rgb(0, 117, 200);
    }

    .linkedin_container{
        background-color: #3a8ec5;
    }
</style>